{% extends 'base.html' %}
{% block content %}



<div style="background-color: rgb(101, 122, 182);">
    <a class="bg-info a-dark m-2 p-2" href="/regUser"><b style="color: seashell;">register</b></a><a class="bg-info a-dark m-2 p-2" href=""><b  style="color: white;">exit</b></a>
    </div>
<div class="one">
<form method="POST" action="portal">
   {% csrf_token %}
    <div class="form-group">
        <label for="username">NAME</label>
        <input type="text" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">PASSWORD</label>
        <input type="text" class="form-control" name="password">
    </div>
    <button class="btn  btn-primary" type="submit">LOGIN</button><BR><BR>
    <center><span style="color:brown;text-align:center"> {{data}}</span></center>
    {{member.name}}
</form>

</div>




{% endblock %}