
{% extends 'base.html' %}

{% load static %}
{% block content %}
<form action="addRouter">
    {% csrf_token %}
       <div class="halftwo">
        <div class="half">
            <img src="{% static 'images/router.jpg'   %}">
        </div>

        <div class="two">
    <table class="table table-striped table-bordered">
      <tr> <td> <b>Product</b>:router<Br></td></tr>
        <tr><td> <b>price</b>:${{data1.item_price}}<Br></td></tr>
            <tr><td><b>brand</b>:huawei<Br></td></tr>
    </table>
        </div>
    </div>    
    <div class="meonly">
    <button class="btn  btn-small bg-info" style="color:white" action="addRouter">ADD TO CART</button>
</div>

<center><B>{{data2}}</B></center>
</form>
 
    {% endblock %}
