<div class="all">
    <div class="card">
            <div class="card-header">
                    <b>router</b>
            </div>
            <div class="card-body">
                   
                   <img src="assets/images/router.jpg">
            </div>
            <div class="card-footer">
                <a class="l1" href="/login">Add to cart</a><a class="l2" href="/login">view</a>
            </div>
    </div>

    
    <div class="card">
            <div class="card-header">
                <b>mifi</b>
            </div>
            
            <div class="card-body">
                <img src="assets/images/mifi.jpg"> 
            </div>

            <div class="card-footer">
                <a class="l1" href="/login">Add to cart</a><a class="l2" href="/login">view</a>

            </div>
    </div>


    
    <div class="card">
            <div class="card-header">
                <b>repeater</b>
            </div>
            <div class="card-body">
                <img src="assets/images/repeater.jpg"> 
            </div>
            <div class="card-footer">
                <a class="l1" href="/login">Add to cart</a><a class="l2" href="/login">view</a>

            </div>
    </div>

</div>        



<div class="all1">
<div class="card">
        <div class="card-header">
                <b>hub</b>
        </div>
        <div class="card-body">
            <img src="assets/images/hub.jpg"> 
        </div>
        <div class="card-footer">
            <a class="l1" href="/login">Add to cart</a><a class="l2" href="/login">view</a>
        </div>
</div>


<div class="card">
        <div class="card-header">
            <b>switch</b>
        </div>
        
        <div class="card-body">
            <img src="assets/images/switch.jpg"> 
        </div>

        <div class="card-footer">
            <a class="l1" href="/login">Add to cart</a><a class="l2" href="/login">view</a>

        </div>
</div>



<div class="card">
        <div class="card-header">
            <b>charger</b>
        </div>
        <div class="card-body">
            <img src="assets/images/charger.jpg"> 
        </div>
        <div class="card-footer">
            <a class="l1" href="/login">Add to cart</a><a class="l2" href="/login">view</a>

        </div>
</div>

</div>    

<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


