
<div class="content">
    <div class="navbar navbar-dark bg-info navbar-expand-lg">
        <a class="navbar-brand" href="">JULOH STORE</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nbsc">
          <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="nbsc">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/view" activelink="true">sales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
              </li>
            </ul>
        </div>
    </div>
</div>



<router-outlet></router-outlet>
