@media only screen and (min-width:720px){

.lft{
    background-color: rgb(28, 15, 104);
  
    width: 20%;
    margin-top: -0.6%;
    height: 29em;
}

.lft ul {
    list-style: none;
    margin-left: -6%;
}

.all{
    margin-top: 2%;
    display: flex;
    width: 100%;
}

.all1{
    margin-top: 2%;
    display: flex;
    width: 100%;
}
.rght{
margin-top: -0.6%;
width: 100%;
}

iframe{
    width:99%}

    img{
        width: 50% ;
        margin-left:18%;
    }
    i{
        color:white;
    }

    .l1{
        border:1px solid grey;
        padding:1%;
        margin-right: 2px;
        
    }
    
    .l2{
        border:1px solid grey;
        padding:1%;
        
    }
    .card{
        width:30%;
        margin-left: 2%;
        
        font-weight: bold;
    }

    .card a{
        color: teal;
        font-size: 70%;
    }

    b{
        color: teal;
    }

    .one{
        border: 1px dashed gray;
        width: 40%;
        padding: 3%;
        margin-left: 32%;
        margin-top: 10%;
    }
    
    .one .form-control{
        width: 88%;
    }
    
    .one .btn{
        width: 88%;
    }
    

 .half img{
    width:36%;
    margin-left: -0.8%;
    
 }  
 .two{
    margin-left: -30%;
    margin-top: 1%;
 } 

 .halftwo{
     display:flex;
 }

 .meonly .btn{
     margin-left: 2.4%;
     width: 23%;
 }

 
}