body{
	background-image:url(back.jpg);
	background-size:cover;
	
}

.one ul{
	
	display:flex;
	margin-left:15%;
	list-style:none;
	list-style:none;
}
.one a{
	
		background-color:#f0f8ff;
	border-radius:3px;
	padding:5px;
	margin:70px;
	border:1px solid;
	border-color:gray;
	text-decoration:none;
	list-style-type:none;
}
.one ul li{
padding:10px;
border:1.3px solid;
border-top:white;
border-color:#4682b4;
margin-top:0;

}

.ha h3
{	
	margin-top:4%;
	width:86%;
	margin-left:4%;
	background-color:#4682b4;
	margin-bottom:0;
	padding:2px;
}