
body{

background-image: url(back.jpg);

background-size: cover;
}
.all{
    margin: 0;
    padding: 20px;
    padding-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  background-size: cover;

}
.one b{
display: block;
background-color:gray;
border-radius: 2px;

border:1px solid;
border-color:gray;
padding: 2px;
width:10%;


}
table{
text-align: center;
  border: 1px solid;

  border-collapse: collapse;
  width: 60%;


}

table th{
  border: 1px solid;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
}

table td{
  border-radius: 4px;
  border-bottom: 1px solid;
border-right: 1px solid;

  margin: 0;
  padding: 4px;
}
