

body{
	background-size:cover;
	margin:0;
	padding:0;
	
}
.one ul {
		list-style:none;
	margin:10px;
	display:flex;
	
}

.one ul li{
padding:10px;
border:1.3px solid;
border-top:tealwhite;
border-color:teal;
margin-top:0;

}

.one a{
	background-color:#f0f8ff;
	border-radius:3px;
	padding:5px;
	margin:70px;
	border:1px solid;
	border-color:white;
	text-decoration:none;
	list-style-type:none;
}
.ha
{
	width:88%;
	margin-left:3.4%;
	
	margin-bottom:0;
padding:0;
}

.kwacho p{
	padding:7px;
	width:86%;
	margin-left:1%;
	margin-right:7%;
	color:pink;
	text-transform:uppercase;
	background-color:teal;
	border-radius:3px;
	border:1px solid;
	border-color:#f0f8ff;
	
}

iframe{
	

}