body{
	padding:0;
	margin:0;
	background-position:center;
	background-size:cover;
	background-color:gainsboro;
	
}


a{
	
	text-decoration:none;

	padding-left:3%;
	padding-right:3%;
}
@media only screen and (min-width:768px){
.t{
	padding:1%;
	height:2em;
width:27%;
	margin-top:2%;
border-bottom:3px solid navy;
border-top:1px solid navy;
	margin-bottom:0;
}

.t a:hover{
	
	border-bottom:3px solid gray;
}

}


@media only screen and (max-width:420px){
	.t{
	margin-top:1%;
	height:2em;
width:81.4%;
border-bottom:3px solid navy;
border-top:1px solid navy;
margin-bottom:0;
	
}
.t a:hover{
	
	border-bottom:3px solid gray;
}

}